@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/** dark mode looking scrollbar **/
::-webkit-scrollbar {
  /* cursor: pointer; */
  width: 8px;
}

::-webkit-scrollbar-track {
  /* cursor: pointer; */
  background: #555;
}

::-webkit-scrollbar-thumb {
  background: #121212;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #24242424;
}
